---
import Layout from "@/layouts/Layout.astro";
import App from "@/components/react/App";
---

<Layout title="WCU Course Graph">
    <main class="flex h-full flex-col gap-8">
        <App client:load />
    </main>
</Layout>
