---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="bg-background" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="h-screen w-screen">
        <slot />
    </body>
</html>

<style is:global>
    * {
        @apply text-text;
        transition: background-color 100ms linear;
    }

    a {
        text-decoration: underline !important;
        @apply text-accent !important;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>
